{% extends 'news/article_details.html' %}
{% block pocket_menu_item %}
<li class="breadcrumb-item active" aria-current="page">Informacje o tobie</li>
{% endblock %}
{% block title %}Tutaj znajdują się informacje o tobie.{% endblock %}
{% block card_details %}
<div class="card">
      <div class="card-header">
          <h5>Tutaj znajdują się informacje o urzytkowniku: {{ user }}</h5>
  </div>
  <div class="card-body">

<form method="post" action="{% url 'news:cud_data_user_update' %}">
    {% csrf_token %}
    {{ form.as_p }}
<div class="hstack gap-2">
    <div>
    <a href="{% url 'news:user_profile_menu' %}" type="button" class="btn btn-primary">< Wstecz</a>
    </div>
    <div class="ms-auto">
    <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</div>
</form>
  </div>
</div>

{% endblock %}
{% block data_comment %}{% endblock %}